#sidebar.collapsed {
  width: 60px;
}
#sidebar .nav-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#sidebar.collapsed .nav-link span {
  display: none;
}
#sidebar.collapsed .sidebar-header span {
  display: none;
}

#piechart {
  display: flex;
  width: fit-content;
  height: 500px;
}

#chart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pie-chart {
  flex: 1;
  display: flex;
  justify-content: center;
}

#legend {
  flex: 1;
  margin-left: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.legend-item.active div {
  border: 1px solid black; /* Ajustar espessura da borda */
}

.legend-item.inactive div {
  opacity: 0.5;
}

header {
  background-color: rgb(70, 70, 70) !important;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.4) !important;
  z-index: 99 !important;
}

#sidebar {
  height: 100vh; /* Extender até o fundo da página */
  position: fixed; /* Fixar a posição */
  top: 0;
  bottom: 0;
  z-index: 100; /* Colocar na frente do conteúdo */
  background-color: rgb(236, 236, 236)!important; /* Fundo preto */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: all 0.2s ease-in-out; /* Animação */
}

main {
  margin-left: 100px !important; /* Largura da sidebar */
  padding: 20px !important; /* Espaçamento */
  transition: all 0.2s ease-in-out !important; /* Animação */
}